Practice

Printing

In [26]:
num = 12
name = "Nicholas"

print("My name is {} and I am {}.".format(name, num))

My name is Nicholas and I am 12.

Logic and If Else

put a parameter like age into 3 categories and if name is true then do something.

In [27]:
# Logic

(1 > 3) and (4 < 5)
(1 > 3) or (4 < 5)

True

In [28]:
name = "Nicholas"

(4 < 5) or (name == "Nicholas")
(4 < 5) or (name == "Grace")

True

In [29]:
name = "Nicholas"

(4 < 5) and (name == "Nicholas")
# (4 < 5) and (name == "Grace")

True

In [30]:
name = "Nicholas"

(4 < 5) and (name == "Grace")

False

In [31]:
if 1 < 2:
    print("Correct!")

Correct!

In [32]:
if 1 < 2:
    print("Correct!")
else:
    print("Wrong!")

Correct!

In [33]:
# elif 

name = "Nicholas"

if name == "Sam":
    print('yup')
elif name == "Nicholas":
    print('Brother')
else:
    print('Nope')

Brother

## Methods

In [40]:
sentence = "My name is Nicholas Kenney"

In [41]:
sentence.lower()

'my name is nicholas kenney'

In [42]:
sentence.upper()

'MY NAME IS NICHOLAS KENNEY'

In [43]:
sentence.split()

['My', 'name', 'is', 'Nicholas', 'Kenney']

In [44]:
sentence.split('e')

['My nam', ' is Nicholas K', 'nn', 'y']